<app-slider elementId="regional-market" [data]="sliderdata"></app-slider>
<div class="row pt-3">
  <div class="col-12 col-lg-12">
    <p class="rns-body-text-lg font-weight-bold text-justify">
      We serve customers located mainly in Africa and the Indian Ocean region. Our office is based in the beautiful island of Mauritius which aims to become the gateway for the African continent.
    </p>
    <p class="rns-body-text-lg text-justify">
      We are geographically well located to mitigate communication problem associated to time difference between West Africa and Asia. We are indeed 4 hours ahead of West Africa and 4 hours behind Asia. Our office in Hong Kong has similar geographical advantage to communicate with suppliers located in Asia. The net result is a faster response to customer inquiries.
    </p>
    <p class="rns-body-text-lg text-justify">
      Our multi-cultural background makes it easier for us to understand the diversity of cultures in Africa. Our objective is to deepen our knowledge of the African market to improve our service quality and business activities in the African Continent. We speak both English and French fluently. We like to concentrate in what we do the best.
    </p>
  </div>
</div>
