<div id="heading">
    <header id="contact-info" class="row d-lg-flex pt-0">
      <div role="progressbar" class="mdc-linear-progress mb-1">
        <div class="mdc-linear-progress__buffering-dots"></div>
        <div class="mdc-linear-progress__buffer"></div>
        <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
            <span class="mdc-linear-progress__bar-inner"></span>
        </div>
        <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
            <span class="mdc-linear-progress__bar-inner"></span>
        </div>
      </div>

      <div class="d-none d-md-block col-md-4 text-center">
          <i class="material-icons mr-2">location_on</i> <span class="d-none d-lg-inline"><strong>Address:</strong>&nbsp;Le Hochet, </span>Terre Rouge, Mauritius
      </div>
      <div class="d-none d-md-block col-md-4 text-center">
          <i class="material-icons mr-2">phone</i> <span class="d-none d-lg-inline"><strong>Telephone:</strong>&nbsp;</span>+ 230 249 3003<span class="d-none d-lg-inline"> / <strong>Fax:</strong> + 230 249 2634</span>
      </div>
      <div class="d-none d-md-block col-md-4 text-center">
          <i class="material-icons mr-2">mail_outline</i> <span><strong class="d-none d-lg-inline">E-mail address:</strong>&nbsp;</span><a href="mailto:marketing@rollnsheet.mu">marketing@rollnsheet.mu</a>
      </div>
      <div class="d-block d-md-none col text-center">
          <i class="material-icons mr-2">phone</i> <strong>Contact us on:</strong> + 230 249 3003
      </div>
    </header>

    <header id="mainhead" class="row">
      <div class="col d-flex flex-column flex-sm-row flex-xs-row">
          <div class="mx-xs-auto mx-sm-auto mx-md-auto flex-fill flex-lg-grow-0 h-100">
              <button (click)="triggerDrawer()" class="rns-menu-button mdc-button float-left d-md-flex d-lg-none">
                  <i class="material-icons">menu</i>
              </button>
              <a routerLink="/" class="mx-auto mx-sm-auto mx-md-auto float-lg-left" id="logo">
                  <img src="assets/images/rollnsheet.svg" alt="Roll n Sheet Logo">
              </a>
          </div>
          <nav id="mainmenu" class="d-none d-md-none d-lg-flex flex-lg-grow-1">
              <ul>
                <ng-container *ngFor="let nav of nav; index as i;">
                  <li [class.dropdown]="nav?.children">
                    <a [routerLink]="(nav.slug && !nav.children) ? nav.slug : null" [routerLinkActive]="!nav?.children ? 'active': 'drop'" [routerLinkActiveOptions]="{exact: true}" [attr.id]="nav.children ? nav?.prefix + 'dropdown' : null" class="menu-item" [class.dropdown-toggle]="nav?.children" [attr.data-toggle]="nav.children ? 'dropdown' : null" role="button" [attr.aria-haspopup]="nav.children ? 'true' : null" [class.active]="nav?.children && nav.prefix === parent" [attr.aria-expanded]="nav.children ? 'false' : null" dropdown>
                      {{nav.name}}
                    </a>
                    <div *ngIf="nav.children" class="dropdown-menu row py-2" [attr.aria-labelledby]="nav?.prefix + 'dropdown'">
                        <div class="d-flex flex-column px-3 float-left w-25">
                            <ng-container *ngFor="let subnav of nav?.children; index as in;">
                                <a *ngIf="in + 1 <= 3" [routerLink]="nav.routeprefix + subnav.slug" class="dropdown-item">
                                    {{subnav.name}}
                                </a>
                            </ng-container>
                        </div>
                        <div *ngIf="nav?.children.length > 3" class="d-flex flex-column px-3 float-left w-25">
                            <ng-container *ngFor="let subnav of nav?.children; index as in;">
                                <a *ngIf="in + 1 > 3 && in + 1 <= 6" [routerLink]="nav.routeprefix + subnav.slug" class="dropdown-item">
                                    {{subnav.name}}
                                </a>
                            </ng-container>
                        </div>
                        <div *ngIf="nav?.children.length > 6" class="d-flex flex-column px-3 float-left w-25">
                            <ng-container *ngFor="let subnav of nav?.children; index as in;">
                                <a *ngIf="in + 1 > 6 && in + 1 <= 9" [routerLink]="nav.routeprefix + subnav.slug" class="dropdown-item">
                                    {{subnav.name}}
                                </a>
                            </ng-container>
                        </div>
                        <div class="d-flex flex-column px-3 float-right" style="width: 15%;">
                            <img src="assets/images/dropdown/{{nav?.prefix}}_dp.png" class="mt-0 position-relative">
                        </div>
                        <img src="assets/images/dropdown/{{nav?.prefix}}_dd.png" onerror="this.src = 'assets/images/dropdown/ph_16x1.png'">
                    </div>
                  </li>
                </ng-container>
              </ul>
          </nav>
          <div class="d-none d-md-none d-lg-flex flex-fill flex-lg-shrink-1 position-relative">
              <form id="search" class="input-group mb-4 d-flex h-100" style="align-items: center" autocomplete="off">
                  <input (keydown)="searchAuto($event)" type="text" id="searchform" name="searchform" class="form-control" placeholder="Search for products..." aria-label="Search for products..." aria-describedby="button-addon2" autocomplete="off" #search>
                  <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="submit" id="button-addon2" disabled>
                          <i class="material-icons">search</i>
                      </button>
                  </div>
                </form>
              <div *ngIf="search.value !== '' && searchResults?.length > 0" id="search-dropdown" class="position-absolute">
                <ul>
                  <ng-container *ngFor="let res of searchResults; index as i;">
                    <li>
                      <a (click)="resetSearch()" [routerLink]="['/' + res.blocktitle + '/' + res.category]" [queryParams]="{ id: res.name }">
                        {{res.fullname}}
                      </a>
                    </li>
                  </ng-container>
                  <hr class="w-auto" style="border-color:rgba(0,0,0,0.2);">
                  <li class="px-3 py-2 text-left">
                    <img class="img-fluid" src="/assets/images/search-by-algolia-light.svg" alt="algolia-search">
                  </li>
                </ul>
              </div>
          </div>
      </div>
    </header>
</div>



<aside id="menu-drawer" class="mdc-drawer mdc-drawer--temporary mdc-typography d-md-block d-lg-none">
    <nav class="mdc-drawer__drawer">
        <header class="mdc-drawer__header rns-banner">
        <div class="mdc-drawer__header-content">
            <img src="assets/images/rollnsheet_white.svg" style="width: 220px;" alt="Roll n Sheet Logo">
        </div>
        </header>
        <nav id="icon-with-text-demo" class="mdc-drawer__content mdc-list">
            <ng-container *ngFor="let nav of nav; index as i;">
                <ng-container *ngIf="!nav?.children">
                    <a (click)="closeDrawer()" [routerLink]="(nav.slug && !nav.children) ? '/' + nav.slug : null" [routerLinkActive]="!nav?.children ? 'mdc-list-item--activated': 'drop'" [routerLinkActiveOptions]="{exact: true}" class="mdc-list-item">{{nav.name}}</a>
                </ng-container>
                <ng-container *ngIf="nav?.children">
                    <h5 class="mdc-list-group__subheader">{{nav.name}}</h5>
                    <ul class="pl-3" style="list-style: none;">
                      <li *ngFor="let subnav of nav.children">
                        <a (click)="closeDrawer()" [routerLink]="nav.routeprefix + subnav.slug" class="mdc-list-item">{{subnav.name}}</a>
                      </li>
                    </ul>
                </ng-container>
                <hr class="mdc-list-divider">
            </ng-container>
        </nav>
    </nav>
</aside>
