<!-- <app-slider elementId="about" [data]="sliderdata"></app-slider> -->
<div class="row pt-3">
  <div class="col-12">
      <h3 class="rns-headband text-white text-left mb-4 mt-1 py-3" style="font-size: 1.6rem;">About Us</h3>
  </div>

  <div class="col-12 col-lg-6">
    <p class="rns-body-text-lg font-weight-bold text-justify">
      Roll n Sheet Ltd was set up in 2008 with the objective to become a leading paper marketing agent in Africa. At the essence of the business venture a strategic alliance was established between Roll n Sheet Ltd and Ian Fung and Company Ltd (IFCL), a leading paper agent based in Hong Kong. Already well established in the South East Asian region, IFCL has partnered with Roll n Sheet Ltd to develop further its business in Mauritius and other parts of Africa.
    </p>
  </div>
  <div class="col-12 col-lg-6">
    <img class="img-fluid" src="/assets/images/intro/intro-home.jpg" alt="Intro Home">
  </div>


  <div class="col-12 col-lg-6">
    <img class="img-fluid" src="/assets/images/intro/intro-home-3.jpg" alt="Intro Home">
  </div>
  <div class="col-12 col-lg-6">
    <p class="rns-body-text-lg text-justify">
      The new business venture, combining the outstanding sourcing experience of IFCL and the marketing competence of Roll n Sheet Ltd, has proved to be very successful. Roll n Sheet Ltd has a good team of marketing professionals trained to service small as well as high profile customers with a wide range of demanding needs. Roll n Sheet Ltd, based in Mauritius, is geographically well located to overcome the time difference barrier which may slow down communication between innovative Asian Mills and emerging African customers. We are 4 hours behind Asia and 4 hours ahead of West African countries.
    </p>
  </div>


  <div class="col-12 col-lg-6">
    <p class="rns-body-text-lg text-justify">
      Being bilingual, the marketing team of Roll n Sheet Ltd can service both English and French speaking countries while our Hong Kong partner can communicate with Chinese Mills in mandarin if required. We pride ourselves to be good at sourcing and order follow up, keeping customers up-to-date about production and shipment until delivery. The objective is to provide cost-effective solutions which satisfy customers' needs. In 2010, Roll n Sheet Ltd extended its activities to stationery import and distribution. A new company, Deloffice Ltd, was incorporated for this purpose. After only five years of activity, Deloffice Ltd is already a leading importer and distributor of stationery products in Mauritius. In 2015, Roll n Sheet Ltd started its merchant operation, giving to small and medium local printers access to quality papers at competitive prices. The response of the market has been positive and immediate.
    </p>
  </div>
  <div class="col-12 col-lg-6">
    <img class="img-fluid" src="/assets/images/intro/intro-home-2.jpg" alt="Intro Home">
  </div>

</div>
