<loading *ngIf="showSpinner"></loading>

<ng-container *ngIf="!showSpinner">
  <ng-container *ngIf="params">
    <app-slider [elementId]="params?.id" [data]="sliderdata"></app-slider>
    <div class="row pt-5">
      <div class="col-12">
          <h1 class="rns-heading text-center mb-4">You are currently accessing {{params?.title}}.</h1>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="posts?.length > 0; else nocontent">
    <ng-container *ngFor="let post of posts; index as i;">
        <ng-container *ngIf="post.blocktitle !== posts[i+1]?.blocktitle">
            <!-- <div class="row py-2">
                <div class="col-12">
                    <h2 class="rns-heading-blue text-center mb-2">{{post.blocktitle}}</h2>
                </div>
            </div> -->
            <div class="row py-2">
                <ng-container *ngFor="let post2 of posts; index as j;">
                    <ng-container *ngIf="post.blocktitle === post2.blocktitle">
                        <div class="col-12 col-sm-6 mb-3 half-gutter">
                            <app-slider-card [elId]="post2.name" [post]="post2.images" [bg-post]="post2"></app-slider-card>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>
  </ng-container>
  <ng-template #nocontent>
    <div class="row py-2">
      <div class="col-12">
        <h3 class="text-center mb-2">No content available</h3>
      </div>
    </div>
  </ng-template>
</ng-container>

