<footer id="blockfoot" class="d-none d-md-block row mt-3 py-1">
    <div class="col d-flex flex-row">
        <h5 class="rns-heading-blue text-left text-white mb-0 mr-2 p-2">Useful Links</h5>
        <a class="py-2 px-3" routerLink="/regional-market">Regional Market</a>
        <a class="py-2 px-3" routerLink="/glossary">Glossary</a>
    </div>
</footer>
<footer id="mainfoot">
    <div id="copyright" class="row py-3">
        <div class="col-12 col-md-6 text-center text-md-left mb-2 mb-sm-0">Copyright &copy; {{year}} Roll n Sheet Ltd. All rights reserved.</div>
        <div class="col-12 col-md-6 text-center text-md-right">
          <a href="https://deloffice.mu/" target="_blank" rel="noopener" style="font-size: inherit;">
            A member of <img class="mx-1" style="margin-top: -5px;width: 105px" src="assets/images/deloffice_logo.svg" alt="DelOffice Logo"> Group
          </a>
        </div>
    </div>
</footer>
