<loading *ngIf="showSpinner2"></loading>
<ng-container *ngIf="!showSpinner2">
    <app-slider elementId="home" [data]="sliderdata"></app-slider>
</ng-container>
<div class="row pt-4">
  <div class="col-12">
    <h1 class="rns-heading text-left mb-4">
      Welcome to<br class="d-block d-lg-none"><span class="d-none d-lg-inline" style="font-size: inherit;">&nbsp;</span><img width="280px" src="/assets/images/logo.png" alt="Logo" class="position-relative" style="top: -8px;">
    </h1>
  </div>

  <div class="col-12 col-lg-6">
    <p class="rns-body-text-lg font-weight-bold text-justify">
        Greetings from Roll n Sheet and welcome to our site. We are a leading supplier of paper and paper products to customers located in Africa and the Indian Ocean region. Our customers are mainly printers, publishers, stationery manufacturers, tissue/thermal/NCR/label converters, folding box factories and corrugators. We are marketing agent for a number of paper mills over the World, most of them are located in Asia where the latest production technologies and state-of-the-art machines are used. We handle a wide range of quality papers and regularly propose to our customers new products which can make them save costs and gain competitive advantage.
    </p>
  </div>
  <div class="col-12 col-lg-6">
    <img class="img-fluid" src="/assets/images/intro/intro-home.jpg" alt="Intro Home">
  </div>



  <div class="col-12 col-lg-6">
    <img class="img-fluid" src="/assets/images/intro/intro-home-3.jpg" alt="Intro Home">
  </div>
  <div class="col-12 col-lg-6">
    <p class="rns-body-text-lg text-justify">
        Our business goes beyond selling paper. We are committed to play our role as a responsible corporate citizen and to conduct our business in a socially responsible manner. We engage ourselves to support the communities in which we work by helping the needy kids in their school material needs. Through paper, we meet people, share experience and make memories. We aim to achieve the highest level of ethical standards and deliver exceptional value for our stakeholders. Trust, honesty and integrity are at the center of our business. It is with this philosophy that we want to grow and to succeed.
    </p>
  </div>


  <div class="col-12 col-lg-6">
    <p class="rns-body-text-lg text-justify">
        Our business goes beyond selling paper. We are committed to play our role as a responsible corporate citizen and to conduct our business in a socially responsible manner. We engage ourselves to support the communities in which we work by helping the needy kids in their school material needs. Through paper, we meet people, share experience and make memories. We aim to achieve the highest level of ethical standards and deliver exceptional value for our stakeholders. Trust, honesty and integrity are at the center of our business. It is with this philosophy that we want to grow and to succeed.
    </p>
  </div>
  <div class="col-12 col-lg-6">
    <img class="img-fluid" src="/assets/images/intro/intro-home-2.jpg" alt="Intro Home">
  </div>

  <div class="col-12">
      <h3 class="rns-headband text-white text-left my-3 py-3" style="font-size: 1.6rem;">Featured Products</h3>
  </div>
</div>

<loading *ngIf="showSpinner"></loading>

<ng-container *ngFor="let post of posts; index as i;">
    <ng-container *ngIf="post.blocktitle !== posts[i+1]?.blocktitle">
        <div class="row py-2">
            <ng-container *ngFor="let post2 of posts; index as j;">
                <ng-container *ngIf="post.blocktitle === post2.blocktitle">
                    <div class="col-12 col-sm-6 mb-2 half-gutter">
                        <app-slider-card [elId]="post2.name" [post]="post2.f_images"></app-slider-card>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>
</ng-container>
