<div class="row pt-4">
    <div class="col-12">
        <h1 class="rns-heading text-center mb-4">
            Glossary
        </h1>
    </div>
    <div class="col-12">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" (click)="navigate('prev')" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <ng-container *ngFor="let a of alphabets">
            <li class="page-item" [class.active]="a === searchString">
              <a (click)="switch(a)" class="page-link">{{a | uppercase}}</a>
            </li>
          </ng-container>
          <li class="page-item">
            <a class="page-link" (click)="navigate('next')" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
</div>
<div class="row pb-4">
  <div class="col-12">
      <div [@flyIn]="searchString" class="position-relative">
        <span *ngFor="let gloss of glossary | filter: searchString: 'name'; index as i;" class="d-block">
          <strong>{{gloss.name | uppercase}}</strong>
          <p>{{gloss.description}}</p>
        </span>
      </div>
  </div>
</div>
